#container {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    text-align: center;
}

#srodek {
    margin: 30% auto;
    border-style: solid;
    height: 60vh;
    width: 75vw;
}

#logowanie {
    margin: 10% auto;
    height: 75%;
    line-height: 200%;
}

.przycisk {
    font-size: 50px;
    height: 5vh;
    width: 30vw;
}